{%extends "base.html" %}
{%block title %}Welcome{% endblock %}
{%block content %}
<section class="container">
	<section class="login-form">
		<form method="post" action="{% url "login" %}" role="login">
			<section>
				<h2>Please sign in</h2>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="text-primary glyphicon glyphicon-envelope"></span></div>
						<input type="email" name="email" placeholder="Email" required class="form-control" />
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><span class="text-primary glyphicon glyphicon-lock"></span></div>
						<input type="password" name="password" placeholder="Password" required class="form-control" />
					</div>
				</div>
				{%csrf_token%}
				<div class="form-group">
					<input type="checkbox" name="remember" value="1" /> Remember me
				</div>

				<button type="submit" name="go" class="btn btn-block btn-info">Sign in</button>
			</section>
			<div>
				<a href="{% url "signup" %}">Creat Account</a> or <a href="#">Forget Password</a>
			</div>
		</form>
	</section>
</section>

{% endblock %}